html{
    font-size: 16px;
    background-color: rgb(134, 124, 124);
    font-family: 'Roboto', sans-serif;
}

.nav-bar{
    width: 100%;
    height: 5rem;
    background-color: rgb(88, 71, 71);
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    opacity: 1;
    z-index: 10;
}
ul{
    list-style-type: none;
    float: right;
    word-spacing: 1.3rem;
    padding-right: 1rem;
}
li{
    display: inline;
    color: whitesmoke;
    font-size: 1.5rem;
    letter-spacing: .16rem;
    height: auto;
    
}
li a:link{
    color: whitesmoke;
    text-decoration: none;
}
li a:visited{
    color: rgb(233, 229, 229);
    text-decoration: none;
}
li a:hover{
    color: rgb(149, 185, 178);
    text-decoration: none;
}
li a:active{
    color: rgb(39, 32, 32);
    text-decoration: none;
}
.logo-img{
   background-image: url("./images/logo.jpeg");
   width: 5rem;
   height: 5rem;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   border-radius: 50%;
} 

/* main content ABOUT */

.main-content{
    margin-top: 5%;
} 
.about{
    background-image: url("./images/baner.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 55rem;
}
.text{
    line-height: 2.29rem;
    margin-left: 9%;
    font-size: 1.5rem;
    text-align: center;
    height: 20rem;
    width: 35rem;
    padding: 2rem;
    opacity: 0.6;
    background-color: rgb(227, 219, 219);
}



/* stories */
h2{
    font-style: italic;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    text-align: center; 
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding-top: 1.5rem;
    background-color: rgb(187, 184, 184);
}
.stories{
    overflow: hidden;
}
.stories-container{
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    background-color: rgb(187, 184, 184);
    height:  43rem;
    text-align: center; 
}
.story{
    width: 30%;
    height: auto;
    border: 0.4rem solid rgb(101, 64, 64);
    position: relative;
}
#one{
    background-image: url("./images/doro.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 27rem;
}
#two{
    background-image: url("./images/dann.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 27rem;
}
#three{
    background-image: url("./images/kasia.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 27rem;
}
.span{
    margin-top: 24rem;
    display: block;
    max-height: auto;
    overflow: hidden;
    font-size: 1.1rem;
    line-height: 1.5rem;
}
.span h3{
    font-size: 1.3rem;
    font-style: italic;
    padding-top: 2.3rem;
    letter-spacing: 0.2rem;
    color:rgb(22, 21, 21)
}




/* gallery */
.main-gallery{
    padding-top: 0.9rem;
    background-color: rgb(187, 184, 184);
   
}
.gallery {
    height: 20rem;
    left: 30rem;
    display: table-cell;
    vertical-align: middle;
    text-align:center ;
    
    
  }
  
  .gallery:hover {
    border: 0.1rem solid rgb(197, 134, 72);
  }
  
  .gallery img , video{
    object-fit: cover;
    display: inline;
    max-width: 100%;
    max-height: 100%;
    border: 0.1rem solid rgb(38, 10, 10);
  }


  /* contact */

.contact{
    max-height: 13rem;
    margin-top: 0.5rem;
    background-color: rgb(187, 184, 184);
    text-align: center;
}

.social-media{
    display: inline;
    padding: 0.5rem;
}
.social-media img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
/* footer */
footer{
    height: 2rem;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 0.8rem;
}